* {
    padding: 0;
    margin: 0;
}



.container {
    display: flex;
    height: 100%;align-items: center;
    justify-content: center;
    height: 600px;
    width: 600px;
    background-color: aqua;
}

.circle {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 50px;
    top: 50px;
    border-radius: 50%;
    background: blue;
}