{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/png">
    <link rel="stylesheet" href="{% static '/css/crm_media.css' %}">
    <link rel="stylesheet" href="{% static '/css/crm.css' %} ">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    {% block content %}

    {% endblock %}
</body>
</html>