@font-face {
    font-family: 'Montserrat-bold'; 
    src: url("../fonts/Montserrat-Bold.ttf") format("truetype");
}

@font-face {
    font-family: 'MYRIADPRO-REGULAR';
    src: url("../fonts/Myriad_Pro.ttf") format("truetype");
}

@font-face {
    font-family: "MontHeavyDEMO";
    src: url("../fonts/Mont-Heavy-DEMO.ttf") format("truetype");
}

@font-face {
    font-family: "Montserrat-light";
    src: url("../fonts/Montserrat-light.ttf") format("truetype");
}


* {
    padding: 0;
    margin: 0;
}


/* HEADER */
.header_line {
    background: linear-gradient(to right, yellow, rgb(223, 150, 2));
    height: 22px;
    width: 100%;
    position: fixed;
}

.container-nav {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 28px;
    z-index: 9999;
    position: fixed;
    padding-bottom: 11px;
}

.nav {
    display: flex;
    align-items: center; 
    padding: 0 40px;
}

.nav-list {
    display: flex;
    list-style: none;
    gap: 25px;
    padding-left: 68px;
    padding-right: 100px;
}

.button-nav-block {
    margin-left: auto;
}

.button-nav {
    color: #875216;
    font-size: 1vw;
    cursor: pointer;
    font-family: 'Montserrat-bold', sans-serif;
    border: 4px solid #FAE300;
    border-radius: 100px;
    background: none;
    padding: 8px;
    margin-left: 10px;
    white-space: nowrap;
}


.button-nav:hover {
    background: #FAE300;
    color: #875216;
    border: 4px solid #FAE300;
    transition: 0.7s;
}

.linehover1, .linehover5 {
    position: absolute;
    margin-top: -14px;
    height: 25px;
    width: 120px;
    z-index: -1;
    opacity: 0;
}

.linehover2 {
    position: absolute;
    margin-top: -10px;
    height: 15px;
    width: 88px;
    z-index: -1;
    opacity: 0;
    margin-left: -2px;
}

.linehover3, .linehover6 {
    position: absolute;
    margin-top: -12px;
    height: 17px;
    width: 136px;
    z-index: -1;
    opacity: 0;
    margin-left: -2px;
}

.linehover4 {
    position: absolute;
    margin-top: -9px;
    height: 13px;
    width: 63px;
    z-index: -1;
    opacity: 0;
    margin-left: -1px;
}


.linehover_block:hover .linehover1 {
    opacity: 1;
    transition: 1s;
}

.linehover_block:hover .linehover2 {
    opacity: 1;
    transition: 1s;
}

.linehover_block:hover .linehover3 {
    opacity: 1;
    transition: 1s;
}

.linehover_block:hover .linehover4 {
    opacity: 1;
    transition: 1s;
}

.linehover_block:hover .linehover5 {
    opacity: 1;
    transition: 1s;
}

.linehover_block:hover .linehover6 {
    opacity: 1;
    transition: 1s;
}

.club-padding {
    margin-left: 90px;
}

.nav-link {
    text-decoration: none;
    color: #875216;
    font-size: 1vw;
    font-family: 'Montserrat-bold', sans-serif;
    white-space: nowrap;
}

.logo {
    width: 100%;
    max-width: 131px;
}

/* END HEADER */



/* HOME PAGE */
.main-section {
    display: flex;
    height: auto;
    width: 100%;
}

.h1-text-main-section {
    font-family: 'MontHeavyDEMO';
    font-size: 5vw;
    line-height: 110.4px;
    color: rgb(135, 82, 22, 100%);
    position: absolute;
}

.main-section-container-img {
    width: 50%;
    display: flex;
    justify-content: end;
    z-index: -1;
}

.main-section-container-img > img {
    position: absolute;
    width: 100%;
    max-width: 800px;
}

.text-main-section-div {
    margin-top: 300px;
    margin-left: 220px;
    width: 100%;
}

.circle {
    position: absolute;
    margin-top: 8px;
    margin-left: -17px;
    z-index: -1;
    width: 100%;
    max-width: 40px;
}

.line {
    position: absolute;
    margin-top: 171px;
    margin-left: 349px;
    z-index: -1;
    width: 100%;
    max-width: 350px;
}

.p-text-main-section {
    padding-top: 246px;
    font-family: 'Montserrat-light';
    font-size: 24px;
    line-height: 40.8px;
    max-width: 900px;
    padding-bottom: 0px;
}

.buttons-main-section {
    margin-top: 30px;
    min-width: 470px;
}

.one-main-section-button {
    margin-left: 11px;
    background-color: rgba(249, 227, 141, 0.85);
    border: none;
    border-radius: 100px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Montserrat-bold';
    font-size: 19px;
    color: #996632;
    cursor: pointer;
    margin-right: 10px;
    box-shadow: 5px 5px 12px -4px #0000007a;
}

.one-main-section-button:hover {
    background-color: rgb(255 205 10 / 85%);
    transition: 0.7s;
}

.two-main-section-button {
    background-color: #EAEBED;
    font-family: 'Montserrat-light';
    font-size: 20px;
    border-radius: 100px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #996632;
    border: none;
    font-weight: 600;
    cursor: pointer;
}

.two-main-section-button:hover {
    background-color: #ccced1;
    color: #fff;
    transition: 0.7s;
}

.line-section {
    background: linear-gradient(to right, yellow, rgb(223, 150, 2));
    height: 22px;
    width: 100%;
    margin-top: 400px;
}


.two__block {
    display: grid;
    justify-content: center;
}

.container {
    width: 1110px;
}

.margin-arrow-block {
    margin-top: 36px;
}

.title-languages {
    font-family: 'Montserrat-bold';
    font-size: 27px;
    color: #000;
} 

.arrow {
    margin-top: 20px;
    max-width: 35px;
    width: 100%;
}

.block-languages {
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
    margin-top: 30px;
}

.card-link-languages {
    text-decoration: none;
}

.languages-card {
    text-align: center;
}

.img-card-languages {
    max-width: 150px;
    margin: 0 auto;
    cursor: pointer;
    height: 150px;
}

.text-card-languages {
    font-family: 'Montserrat-bold';
    font-size: 16px;
    color: #875315;
    padding-top: 10px;
}

.khover {
    opacity: 0;
    position: absolute;
    width: 200px;
    z-index: -1;
    margin-top: -165px;
    margin-left: -98px;
}

.languages-card:hover .khover{
    opacity: 2;
    transition: 0.7s;
    z-index: 9999;
}

.price-info-block {
    justify-content: center;
    display: flex;
}

.price-full {
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
}

.bg-img {
    width: 480px;
}

.price-text-block {
    width: 100%;
    padding-left: 230px;
}

.price-title {
    font-family: 'Montserrat-bold';
    font-size: 23px;
    color: #875315;
    letter-spacing: 8px;
    padding-top: 26px;
    padding-left: 10px;
}

.text-price {
    font-family: 'Montserrat-light';
    font-size: 21px;
    margin-top: 30px;
}

.price-text-li {
    font-family: 'Montserrat-light';
    font-size: 21px;
    list-style-image: url("../img/li.png");
}

.duration-price {
    font-family: 'Montserrat-bold';
    font-size: 21px;
    color: #875315;
    margin-top: 30px;
}

.price-and-button {
    display: flex;
}

.price-bottom-text {
    font-family: 'MontHeavyDEMO';
    font-size: 40px;
    color: #B7DC99;
    font-weight: bold;
}

.price-bottom-text > span {
    font-family: 'Montserrat-bold';
    font-size: 14px;
    color: #B7DC99;
    margin-top: -6px;
    position: absolute;
}

.price-button {
    margin-top: 24px;
    margin-left: 57px;
    margin-right: 10px;
    background-color: rgba(249, 227, 141, 0.85);
    border: none;
    border-radius: 100px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Montserrat-bold';
    font-size: 19px;
    color: #996632;
    cursor: pointer;
}

.price-button:hover {
    margin-top: 24px;
    margin-left: 57px;
    background-color: rgb(255 205 10 / 85%);
    border: none;
    border-radius: 100px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Montserrat-bold';
    font-size: 19px;
    color: #996632;
    margin-right: 10px;
    cursor: pointer;
    transition: 0.7s;
}

.price-text-block-two {
    width: 100%;
    padding-right: 230px;
}
/* END HOME */