@media (min-width: 1441px) and (max-width: 1920px) {
    /* HEADER */
    .nav {
        max-width: 1665px;
    }

    .linehover1, .linehover5 {
        margin-top: -10px; 
        height: 15px;
        width: 110px;
    }

    .linehover2 {
        width: 75px;   
    }
    
    .linehover3, .linehover6 {
        margin-top: -9px;
        height: 12px;
        width: 100px;
    }

    .linehover4 {
        margin-top: -8px;
        height: 10px;
        width: 55px;
    }
    /* END HEADER */


    /* HOME PAGE */

    /* END HOME */
}


@media (min-width: 1024px) and (max-width: 1440px) {
    /* HEADER */
    .nav {
        max-width: 1100px;
        margin: 0;
    }

    .nav-list {
        padding-right: 25px;
    }

    .club-padding {
        margin-left: 10px;
    }

    .nav {
        padding: 0 20px;
    }

    .linehover1, .linehover5 {
        margin-top: -9px; 
        height: 12px;
        width: 86px;
    }

    .linehover2 {
        width: 60px;   
        height: 12px;
    }
    
    .linehover3, .linehover6 {
        margin-top: -9px;
        height: 12px;
        width: 100px;
    }

    .linehover4 {
        margin-top: -8px;
        height: 10px;
        width: 42px;
    }
    /* END HEADER */


    /* HOME PAGE */
    .main-section-container-img > img {
        max-width: 550px;
    }

    .h1-text-main-section {
        font-size: 4vw;
        line-height: 53.4px;
    }

    .text-main-section-div {
        margin-top: 230px;
        margin-left: 140px;
    }

    .line {
        margin-top: 72px;
        margin-left: 87px;
    }

    .p-text-main-section {
        font-size: 19px;
        line-height: 24.8px;
        max-width: 454px;
        padding-top: 135px;
    }

    .one-main-section-button {
        margin-left: 0;
    }

    .line-section {
        margin-top: 300px;
    }

    .container {
        max-width: 1000px;
    }

    .block-languages {
        gap: 50px
    }

    .arrow {
        margin-left: 20px;
    }

    .title-languages {
        margin-left: 20px;
    }

    .bg-img {
        width: 400px;
    }

    .price-text-block {
        padding-left: 120px;
    }

    .price-full {
        margin-left: 30px;
    }

    .price-text-block-two {
        padding-right: 120px;
    }

    .price-text-block-bottom {
        padding-left: 33px;
    }

    .bg7-img {
        padding-left: 0;
    }

    .container-footer {
        width: 1000px;
    }

    /* END HOME */

    /* LANG PAGE */
    .text-block-lang {
        padding-left: 110px;
    }

    .container-lang {
        width: 1000px;
    }
    /* END LANG PAGE */

    /* CINEMA PAGE */
    .episode {
        flex-direction: column;
    }

    .episode-player {
        position: unset;
        height: auto
    }

    .episode__left {
        width: 70%;
        margin: 0 auto;
    }
    
    .episode__right {
        width: 70%;
        margin: 0 auto;
    }
    /* END CINEMA */
}

@media (min-width: 576px) and (max-width: 1023px) {
    /* HEADER */
    .nav {
        max-width: 800px;
        margin: 0;
    }

    .nav-list {
        padding-right: 15px;
        padding-left: 20px;
        gap: 15px;
    }

    .club-padding {
        margin-left: 10px;
    }

    .nav {
        padding: 0 20px;
    }

    .logo {
        max-width: 80px;
    }

    .linehover1, .linehover5 {
        margin-top: -9px; 
        height: 12px;
        width: 68px;
    }

    .linehover2 {
        width: 47px;
        height: 8px;
        margin-top: -7px;
    }
    
    .linehover3, .linehover6 {
        margin-top: -9px;
        height: 10px;
        width: 71px;
    }

    .linehover4 {
        margin-top: -7px;
        height: 9px;
        width: 33px;
    }

    .logo {
        height: 45px;
    }
    /* END HEADER */

    /* HOME PAGE */
    .main-section-container-img > img {
        max-width: 500px;
    }

    .h1-text-main-section {
        font-size: 3vw;
        line-height: 53.4px;
    }

    .text-main-section-div {
        margin-top: 185px;
        margin-left: 140px;
    }

    .line {
        margin-top: 72px;
        margin-left: 28px;
    }

    .p-text-main-section {
        font-size: 19px;
        line-height: 23.8px;
        max-width: 450px;
        padding-top: 125px;
    }

    .one-main-section-button {
        margin-left: 0;
    }

    .line-section {
        margin-top: 300px;
    }

    .container {
        max-width: 650px;
    }

    .block-languages {
        gap: 20px;
    }
    
    .img-card-languages {
        max-height: 110px;

    }

    .text-card-languages {
        font-family: 'Montserrat-bold';
        font-size: 12px;
        color: #875315;
        padding-top: 10px;
    }
    
    .bg-img {
        display: none;
    }

    .price-text-block {
        padding-left: 20px;
    }

    .price-full {
        padding-top: 45px;
        padding-bottom: 45px;
    }

    .price-text-block-two {
        padding-left: 20px;
        padding-right: 0px;
    }

    .khover {
        margin-top: -137px;
        margin-left: -83px;
        width: 170px;
    }

    .price-text-block-bottom {
        padding-top: 20px;
        padding-left: 0px;
    }

    .bg7-img {
        padding-left: 69px;
    }

    .price-full {
        display: block;
    }

    .container-footer {
        max-width: 600px;
    }
    /* END HOME */


    /* LANG PAGE */
    .container-lang {
        max-width: 600px;
        display: block;
        text-align: center;
    }

    .text-block-lang {
        padding-left: 0;
        padding-top: 20px;
    }

    .button-lang {
        justify-content: center;
    }

    .none-tablet-size {
        display: none;
    }
    /* END LANG PAGE */
    
    /* BLOG PAGE */
    .blog__info__header__title {
        font-size: 4.5vw;
        line-height: 67.4px;
    }

    .two__block__title {
        font-size: 20px;
    }

    .img__bg__top > img {
        max-width: 300px;
    }

    .posts_div {
        grid-template-columns: unset;
    }
    /* END BLOG */

    /* CINEMA PAGE */
    .episode {
        flex-direction: column;
        padding-top: 80px;
    }

    .episode-player {
        position: unset;
    }

    .episode__left {
        width: 80%;
        margin: 0 auto;
    }
    
    .episode__right {
        width: 80%;
        margin: 0 auto;
    }

    .container-substory {
        flex-direction: column;
    }

    .img-substory {
        margin: 0 auto;
    }

    .substory-text-detail {
        margin-bottom: 30px;
        margin-top: 20px;
    }
    /* END CINEMA */
}

@media (max-width: 575px) {
    /* HEADER */
    /* END HEADER */
}