@media (min-width: 1441px) and (max-width: 1920px) {
    /* HEADER */
    .nav {
        max-width: 1665px;
    }

    .linehover1, .linehover5 {
        margin-top: -10px; 
        height: 15px;
        width: 110px;
    }

    .linehover2 {
        width: 75px;   
    }
    
    .linehover3, .linehover6 {
        margin-top: -9px;
        height: 12px;
        width: 100px;
    }

    .linehover4 {
        margin-top: -8px;
        height: 10px;
        width: 55px;
    }
    /* END HEADER */
}


@media (min-width: 1024px) and (max-width: 1440px) {
    /* HEADER */
    .nav {
        max-width: 1100px;
        margin: 0;
    }

    .nav-list {
        padding-right: 25px;
    }

    .club-padding {
        margin-left: 10px;
    }

    .nav {
        padding: 0 20px;
    }

    .linehover1, .linehover5 {
        margin-top: -9px; 
        height: 12px;
        width: 86px;
    }

    .linehover2 {
        width: 60px;   
        height: 12px;
    }
    
    .linehover3, .linehover6 {
        margin-top: -9px;
        height: 12px;
        width: 100px;
    }

    .linehover4 {
        margin-top: -8px;
        height: 10px;
        width: 42px;
    }
    /* END HEADER */


    /* HOME PAGE */
    .main-section-container-img > img {
        max-width: 550px;
    }

    .h1-text-main-section {
        font-size: 4vw;
        line-height: 53.4px;
    }

    .text-main-section-div {
        margin-top: 230px;
        margin-left: 140px;
    }

    .line {
        margin-top: 72px;
        margin-left: 87px;
    }

    .p-text-main-section {
        font-size: 19px;
        line-height: 24.8px;
        max-width: 454px;
        padding-top: 135px;
    }

    .one-main-section-button {
        margin-left: 0;
    }

    .line-section {
        margin-top: 300px;
    }

    .container {
        max-width: 1000px;
    }

    .block-languages {
        gap: 50px
    }

    .arrow {
        margin-left: 20px;
    }

    .title-languages {
        margin-left: 20px;
    }

    .bg-img {
        width: 400px;
    }

    .price-text-block {
        padding-left: 120px;
    }

    .price-full, .price-full-two {
        margin-left: 30px;
    }

    .price-text-block-two {
        padding-right: 120px;
    }

    .price-text-block-bottom {
        padding-left: 33px;
    }

    .bg7-img {
        padding-left: 0;
    }

    .container-footer {
        width: 1000px;
    }

    /* END HOME */

    /* LANG PAGE */
    .text-block-lang {
        padding-left: 110px;
    }

    .container-lang {
        width: 1000px;
    }
    /* END LANG PAGE */

    /* CINEMA PAGE */
    .episode {
        flex-direction: column;
    }

    .episode-player {
        position: unset;
        height: auto
    }

    .episode__left {
        width: 70%;
        margin: 0 auto;
    }
    
    .episode__right {
        width: 70%;
        margin: 0 auto;
    }
    /* END CINEMA */
}

@media (min-width: 600px) and (max-width: 1023px) {
    /* HEADER */
    .nav {
        max-width: 800px;
        margin: 0;
    }

    .nav-list {
        padding-right: 15px;
        padding-left: 20px;
        gap: 15px;
    }

    .club-padding {
        margin-left: 10px;
    }

    .nav {
        padding: 0 20px;
    }

    .logo {
        max-width: 80px;
    }

    .linehover1, .linehover5 {
        margin-top: -9px; 
        height: 12px;
        width: 68px;
    }

    .linehover2 {
        width: 47px;
        height: 8px;
        margin-top: -7px;
    }
    
    .linehover3, .linehover6 {
        margin-top: -9px;
        height: 10px;
        width: 71px;
    }

    .linehover4 {
        margin-top: -7px;
        height: 9px;
        width: 33px;
    }

    .logo {
        height: 45px;
    }
    /* END HEADER */

    /* HOME PAGE */
    .main-section-container-img > img {
        max-width: 500px;
    }

    .h1-text-main-section {
        font-size: 3vw;
        line-height: 53.4px;
    }

    .text-main-section-div {
        margin-top: 185px;
        margin-left: 140px;
    }

    .line {
        margin-top: 72px;
        margin-left: 28px;
    }

    .p-text-main-section {
        font-size: 19px;
        line-height: 23.8px;
        max-width: 450px;
        padding-top: 125px;
    }

    .one-main-section-button {
        margin-left: 0;
    }

    .line-section {
        margin-top: 300px;
    }

    .container {
        max-width: 650px;
    }

    .block-languages {
        gap: 20px;
    }
    
    .img-card-languages {
        max-height: 110px;

    }

    .text-card-languages {
        font-family: 'Montserrat-bold';
        font-size: 12px;
        color: #875315;
        padding-top: 10px;
    }
    
    .bg-img {
        display: none;
    }

    .price-text-block {
        padding-left: 20px;
    }

    .price-full, .price-full-two {
        padding-top: 45px;
        padding-bottom: 45px;
    }

    
    .price-text-block-two {
        padding-left: 20px;
        padding-right: 0px;
    }

    .khover {
        margin-top: -137px;
        margin-left: -83px;
        width: 170px;
    }

    .price-text-block-bottom {
        padding-top: 20px;
        padding-left: 0px;
    }

    .bg7-img {
        padding-left: 69px;
    }

    .price-full {
        display: block;
    }

    .container-footer {
        max-width: 600px;
    }
    /* END HOME */


    /* LANG PAGE */
    .container-lang {
        max-width: 600px;
        display: block;
        text-align: center;
    }

    .text-block-lang {
        padding-left: 0;
        padding-top: 20px;
    }

    .button-lang {
        justify-content: center;
    }

    .none-tablet-size {
        display: none;
    }
    /* END LANG PAGE */
    
    /* BLOG PAGE */
    .blog__info__header__title {
        font-size: 4.5vw;
        line-height: 67.4px;
    }

    .two__block__title {
        font-size: 20px;
    }

    .img__bg__top > img {
        max-width: 300px;
    }

    .posts_div {
        grid-template-columns: unset;
    }
    /* END BLOG */

    /* CINEMA PAGE */
    .episode {
        flex-direction: column;
        padding-top: 80px;
    }

    .episode-player {
        position: unset;
    }

    .episode__left {
        width: 80%;
        margin: 0 auto;
    }
    
    .episode__right {
        width: 80%;
        margin: 0 auto;
    }

    .container-substory {
        flex-direction: column;
    }

    .img-substory {
        margin: 0 auto;
    }

    .substory-text-detail {
        margin-bottom: 30px;
        margin-top: 20px;
    }
    /* END CINEMA */
}

@media (max-width: 599px) {
    /* HEADER */
    .visible { 
        display: block !important; 
    }
    .container-nav {
        padding-bottom: 0;
    }

    .click-background {
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
        background: #fff;
        padding-top: 4px;
    }

    .button-nav-block {
        display: none;
        text-align: center;
        background: #FAE300;
        padding: 5px 0;
    }

    .button-nav {
        border: 2px solid white;
        font-size: 3vw;
        margin: 6px;
        padding: 5.5px;
    }

    .div-btn-mobile {
        display: block;
        margin-right: 20px;
    }

    .nav {
        width: 100%;
        padding: 0;
        display: block;
    }

    .mobile-nav {
        display: flex;
        padding: 0 20px;
        align-items: center; 
        justify-content: space-between;
        width: 100%;
    }

    .nav-list {
        display: none;
        padding: 0;
        padding-top: 7px;
    }

    .linehover1, .linehover2, .linehover3, .linehover4,.linehover5, .linehover6 {
        display: none;
    }

    .nav-link {
        font-size: 3vw;
    }

    .linehover_block > li{
        text-align: center;
        background: #FAE300;
        padding: 7px 0;
    }
    
    .club-padding {
        margin: 0;
    }

    .mobile-padding-nav {
        padding-top: 23px !important;
    }
    /* END HEADER */

    /* HOME PAGE */
    .main-section-container-img {
        width: 100%;
    }

    .main-section-container-img > img {
        max-width: 550px;
        position: unset;
    }

    .main-section {
        flex-direction: column-reverse;
    }

    .text-main-section-div {
        margin-left: 20px;
        margin-top: 0px;
        width: unset;
    }

    .circle {
        margin-top: -3px;
        margin-left: -6px;
    }

    .h1-text-main-section {
        font-size: 9vw;
        line-height: 57.4px;
    }

    .line {
        display: none;
    }

    .p-text-main-section {
        padding-top: 150px;
        line-height: 34.8px;
        max-width: 90%;
    }

    .buttons-main-section {
        width: 100%;
        min-width: unset;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .one-main-section-button {
        margin-left: 0px;
        padding: 22px 40px;
        font-size: 21px;
        margin-bottom: 20px;
    }

    .two-main-section-button {
        padding: 22px 40px;
        font-size: 21px;
    }

    .line-section {
        margin-top: 100px;
    }

    .margin-arrow-block {
        margin-left: 20px;
    }

    .container {
        width: unset;
    }

    .title-languages {
        font-size: 24px;
    }

    .block-languages {
        display: unset;
    }

    .img-card-languages {
        max-width: 200px;
        max-height: 200px;
    }

    .languages-card {
        margin-bottom: 20px;
    }

    .khover {
        max-width: 250px;
        margin-top: -200px;
        margin-left: -125px;
    }

    .price-full {
        padding-top: 50px;
        align-items: center;
        flex-direction: column;
    }

    .bg-img {
        max-width: 99%;
    }
    
    .price-text-block {
        margin-top: 10px;
        padding-left: 30px;
        width: auto;
    }
    

    .price-title {
        letter-spacing: 5px;
        padding-top: 14px;
        font-size: 4.5vw;
    }

    .price-and-button {
        display: unset;
    }

    .price-button {
        margin-left: 0px;
    }

    .price-full-two {
        padding-top: 50px;
        flex-direction: column-reverse;
        align-items: center;
    }

    .price-text-block-two {
        margin-top: 10px;
        padding-right: 0px;
        padding-left: 30px;
        width: auto;
    }

    .bg7-img {
        max-width: 100%;
        max-height: unset;
        padding-left: 0px;
        width: unset;
        height: unset;
    }

    .price-text-block-bottom {
        width: auto;
        padding-left: 30px;
    }

    .container-footer {
        width: unset;
        flex-direction: column;
    }

    .footer-links {
        display: grid;
        justify-items: center;
    }

    .footer-info {
        margin-top: 30px;
        justify-items: center;
    }

    .footer-text {
        text-align: center;
        width: auto;
    }

    .text-price-bottom {
        font-size: 20px;
    }

    .price-title-bottom {
        font-size: 20px;
    }
    /* END HOME */

    /* LANG */
    .container-lang {
        flex-direction: column;
        align-items: center;
    }

    .lang-bg-img {
        width:90%;
    }

    .text-block-lang {
        padding-left: 20px;
        margin-top: 20px;
    }

    .title-lang {
        font-size: 8vw;
        line-height: 59.4px;
    }

    .button-lang {
        justify-content: center;
    }

    .lang-price-full-two {
        display: unset;
    }

    .none-tablet-size {
        margin-top: 40px;
    }

    .lang__price__text__block {
        width: auto;
        padding-left: 20px;
        margin-top: 20px;
    }

    .lang-price-full {
        flex-direction: column-reverse;
        align-items: center;
    }

    .button-lang2 {
        margin-top: 30px;
    }

    .lang__price__text__block__two {
        width: auto;
        padding-left: 20px;
        margin-top: 20px;
    }

    .container-lang {
        width: 100%;
    }
    /* END LANG */


    /* BLOG PAGE */
    .blog-block-text-header {
        margin-left: 21px;
    }

    .blog__info__header__title {
        font-size: 9vw;
        line-height: 42px;
    }

    .blog__info__two__block {
        margin-top: 30px;
    }

    .two__block__title {
        font-size: 21px;
    }

    .img__bg__top {
        margin-top: 0px;
        padding-right: 0px;
    }

    .posts_div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .posts_div > a {
        display: contents;
        margin: auto;
    }

    .blog-card {
        width: 90%;
        max-width: unset;
        max-height: unset;
    }

    .blog-card > div {
        text-align: center;
    }
    /* END BLOG */

    /* CINEMA PAGE */

    .level-form {
        text-align: center;
    }

    .cinema-film__linkImg {
        display: block;
        width: auto;
        height: auto;
    }

    .cinema-film__linkImg > img {
        width: auto;
        height: auto;
    }
    /* END CINEMA */

    /* EPISODE PAGE */
    .episode {
        flex-direction: column;
        padding-top: 80px;
    }

    .episode-player {
        position: unset;
        height: unset;
        margin-top: 40px;
    }

    .episode__left {
        width: 80%;
        margin: 0 auto;
    }
    
    .episode__right {
        width: 80%;
        margin: 0 auto;
    }

    .container-substory {
        flex-direction: column;
    }

    .img-substory {
        margin: 0 auto;
    }

    .substory-text-detail {
        margin-bottom: 30px;
        margin-top: 20px;
    }

    .episode-desc {
        flex-direction: column-reverse;
    }

    .episode-desc__cover {
        width: unset;
        height: unset;
    }

    .button-container-order {
        flex-direction: column;
        margin-left: auto;
    }

    .item button {
        width: 1.75em;
        height: 1.75em;
        margin: 5px 3px;
    }
    /* END EPISODE */
}
