* {
    padding: 0;
    margin: 0;
}

/* admin */
.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.content {
    display: flex;
    flex-direction: column;
}

.menu {
    display: flex;
    flex-direction: column;
}

#message-container {
    margin-bottom: 20px;
}

.errorlist {
    list-style: none;
    padding: 0;
    margin: 0;
    color: #721c24; /* Цвет текста ошибок */
    background-color: #f8d7da; /* Цвет фона ошибок */
    border: 1px solid #f5c6cb; /* Граница */
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 20px;
}

.errorlist li {
    margin: 5px 0;
}

.messages .success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 20px;
}

.messages .error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 20px;
}



/* teacher */

.cont-teacher {
    display: flex;
}

.left {
    width: 70%;
    height: 100vh;
    background-color: #8defef;
}

.right {
    width: 30%;
    height: 100vh;
    background-color: #6aaae3;
}

.notice-cont {
    height: 500px;
    width: auto;
    background-color: #30c58cf7;
}

#student-list-items {
    list-style-type: none;
    padding: 0;
}

#student-list-items li {
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 5px;
    cursor: pointer;
}

#student-list-items li:hover {
    background-color: #f0f0f0;
}