{% load static %}
<footer class="footer">
    <div class="container-footer">
        <div class="footer-links">
            <a href="" class="link-footer">Главная</a>
            <a href="" class="link-footer">Языки</a>
            <a href="" class="link-footer">Стоимость</a>
            <a href="" class="link-footer">Блог</a>
            <a href="" class="link-footer">Связаться</a>
        </div>
        <div class="footer-info">
            <div class="social-media-icons">
                    <a href="https://vk.com/frigateschool" target="_blank">
                        <img src="{% static 'img/vk.png' %}" class="icon-soc" alt="icon">
                    </a>
                    <a href="https://wa.me/+79785502653" target="_blank">
                        <img src="{% static 'img/ws.png' %}" class="icon-soc" alt="icon">
                    </a>
                    <a href="https://t.me/frigateschool" target="_blank">
                        <img src="{% static 'img/tg.png' %}" class="icon-soc" alt="icon" style="margin-top: 3px;">
                    </a>
            </div>
            <p class="footer-text">
                © Языковая школа Фрегат 2021 <br> Дизайн - Елизавета Муждабаева <br>
                <a href="">Политика конфиденциальности</a><br>
                <a href="">Договор оферты</a>
            </p>
        </div>
    </div>
</footer>