{% load static %}

<div class="dm-overlay" id="politica">
    <div class="dm-table">
        <div class="dm-cell">
            <div class="dm-modal">
                <a href="#close" class="close"></a>
                <h3 class="form__title">Политика конфиденциальности</h3>
                <p class="text-politica">
					Настоящим я даю согласие Языковой школе «Фрегат» (далее – Оператор) на обработку своих персональных данных, указанных в анкете, в рамках Федерального закона № 152-ФЗ от 27.07.2006 г.<br><br>
                    Конфиденциальность персональных данных соблюдается Оператором в соответствии с требованиями законодательства РФ. Настоящее согласие дается мной на весь срок моей жизни и может быть отозвано мною в любое время путем передачи Оператору моего уведомления.<br><br>
                    Настоящим я выражаю свое согласие предоставлять Оператору право направлять мне информационные сообщения, в т.ч. содержащие информацию маркетингового характера, по указанным мной адресам и номерам мобильных телефонов.<br><br>
                    Я принимаю Политику Конфиденциальности пользуясь сайтом frigateschool.ru
				</p>
            </div>
        </div>
    </div>
</div>

<footer class="footer">
    <div class="container-footer">
        <div class="footer-links">
            <a href="/" class="link-footer">Главная</a>
            <a href="{% url 'lang' %}" class="link-footer">Языки</a>
            <a href="/#price" class="link-footer">Стоимость</a>
            <a href="{% url 'blog' %}" class="link-footer">Блог</a>
            <a href="#win1" class="link-footer">Связаться</a>
        </div>
        <div class="footer-info">
            <div class="social-media-icons">
                    <a href="https://vk.com/frigateschool" target="_blank">
                        <img src="{% static 'img/vk.png' %}" class="icon-soc" alt="icon">
                    </a>
                    <a href="https://wa.me/+79785502653" target="_blank">
                        <img src="{% static 'img/ws.png' %}" class="icon-soc" alt="icon">
                    </a>
                    <a href="https://t.me/frigateschool" target="_blank">
                        <img src="{% static 'img/tg.png' %}" class="icon-soc" alt="icon" style="margin-top: 3px;">
                    </a>
            </div>
            <p class="footer-text">
                © Языковая школа Фрегат 2021 <br> Дизайн - Елизавета Муждабаева <br> 
                <a href="https://vk.com/hurricane_chroniclenr">Программист - Муждабаев Эдем</a>
                <a href="#politica">Политика конфиденциальности</a><br>
                <a href="{% url 'oferta' %}">Договор оферты</a>
            </p>
        </div>
    </div>
</footer>