{% load static %}
<header class="header">
    <div class="header_line"></div>
    <div class="container-nav">
        <div class="nav">
            <a href="#"><img src="{% static 'img/logo.png' %}" alt="logo" class="logo" id="#id"></a>
            <ul class="nav-list">
                <div class="linehover_block">
                    <li><a href="{% url 'home' %}" class="nav-link">О ФРЕГАТЕ</a></li>
                    <img src="{% static 'img/linehover.png' %}" alt="linehover" class="linehover1">
                </div>
                <div class="linehover_block">
                    <li><a href="{% url 'lang' %}" class="nav-link">ЯЗЫКИ</a></li>
                    <img src="{% static 'img/linehover.png' %}" alt="linehover" class="linehover2">
                </div>
                <div class="linehover_block">
                    <li><a href="" class="nav-link">СТОИМОСТЬ</a></li>
                    <img src="{% static 'img/linehover.png' %}" alt="linehover" class="linehover3">
                </div>
                <div class="linehover_block">
                    <li><a href="" class="nav-link">БЛОГ</a></li>
                    <img src="{% static 'img/linehover.png' %}" alt="linehover" class="linehover4">
                </div>
                <div class="linehover_block">
                    <li><a href="" class="nav-link">СВЯЗАТЬСЯ</a></li>
                    <img src="{% static 'img/linehover.png' %}" alt="linehover" class="linehover5">
                </div>
                <div class="linehover_block club-padding">
                    <li><a href="" class="nav-link">КИНОКЛУБ</a></li>
                    <img src="{% static 'img/linehover.png' %}" alt="linehover" class="linehover3">
                </div>
            </ul>

            <div class="button-nav-block">
                <a href="">
                    <button class="button-nav">ЗАПИСАТЬСЯ НА УРОК</button>
                </a>
            </div>
        </div>
    </div>
</header>