{% load static %}

<div class="dm-overlay" id="win1">
    <div class="dm-table">
        <div class="dm-cell">
            <div class="dm-modal">
                <a href="#close" class="close"></a>
                <h3 class="form__title">Заполните форму, мы свяжемся с вами!</h3>

                <form name="contact-second-form" class="form" action="" method="POST">  
                    {% csrf_token %}
                    {{ second_form.name }}                           
                    {{ second_form.tel }}
                    {{ second_form.comment}}
                    <div class="form__button">
                        <button type="submit" name="second">Отправить</button>
                    </div>

                    <p class="form__title">Напишите нам в мессенджерах:</p>
                    <div class="form__social">
                        <a href="https://vk.com/frigateschool" target="_blank"><img src="{% static 'img/vkform.png' %}" alt="vk"></a>
                        <a href="https://wa.me/+79785502653" target="_blank"><img src="{% static 'img/wsform.png' %}" alt="ws"></a>
                        <a href="https://t.me/frigateschool" target="_blank"><img src="{% static 'img/tgform.png' %}" alt="tg"></a>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

<header class="header">
    <div class="header_line"></div>
    <div class="container-nav">
        <div class="nav">
            <a href="#"><img src="{% static 'img/logo.png' %}" alt="logo" class="logo" id="#id"></a>
            <ul class="nav-list">
                <div class="linehover_block">
                    <li><a href="/#about" class="nav-link">О ФРЕГАТЕ</a></li>
                    <img src="{% static 'img/linehover.png' %}" alt="linehover" class="linehover1">
                </div>
                <div class="linehover_block">
                    <li><a href="{% url 'lang' %}" class="nav-link">ЯЗЫКИ</a></li>
                    <img src="{% static 'img/linehover.png' %}" alt="linehover" class="linehover2">
                </div>
                <div class="linehover_block">
                    <li><a href="/#price" class="nav-link">СТОИМОСТЬ</a></li>
                    <img src="{% static 'img/linehover.png' %}" alt="linehover" class="linehover3">
                </div>
                <div class="linehover_block">
                    <li><a href="{% url 'blog' %}" class="nav-link">БЛОГ</a></li>
                    <img src="{% static 'img/linehover.png' %}" alt="linehover" class="linehover4">
                </div>
                <div class="linehover_block block__form__hov">
                    <li><a href="/" class="nav-link">СВЯЗАТЬСЯ</a></li>
                    <img src="{% static 'img/linehover.png' %}" alt="linehover" class="linehover5">
                    

                    <div class="block__form">
                        <h1 class="block__form__title">Контакты</h1>
                        <div class="block__form__mail">
                            <img src="{% static "img/mailform.png" %}" alt="mail">
                            <p class="block__form__mail__text">frigateschool@gmail.com</p>
                        </div>
                        <form name="contact-form" method="POST" class="block__form__form" action="">
                            {% csrf_token %}
                            {{ form.name }}                           
                            {{ form.tel }}
                            <div class="block__form__buttonblock">
                                <button type="submit" name="first" class="block__form__button">Перезвоните мне</button>
                            </div>                                
                        </form>
                        <p class="block__form__buttom__text">Напишите нам в мессенджерах:</p>
                        <div class="social-media-icons" style="margin-top: 20px;">                           
                            <a href="https://vk.com/frigateschool" class="icon-soc" target="_blank"><img src="{% static "img/vkform.png" %}" alt="vk"></a>
                            <a href="https://wa.me/+79785502653" class="icon-soc" target="_blank"><img src="{% static "img/wsform.png" %}" alt="ws"></a>
                            <a href="https://t.me/frigateschool" class="icon-soc" target="_blank"><img src="{% static "img/tgform.png" %}" alt="tg"></a>        
                        </div>
                    </div>


                </div>
                <div class="linehover_block club-padding">
                    <li><a href="/" class="nav-link">КИНОКЛУБ</a></li>
                    <img src="{% static 'img/linehover.png' %}" alt="linehover" class="linehover6">
                </div>
            </ul>

            <div class="button-nav-block">
                <a href="#win1">
                    <button class="button-nav">ЗАПИСАТЬСЯ НА УРОК</button>
                </a>
            </div>
        </div>
    </div>
</header>