{% extends "./base.html" %}
{% load static %}

{% block title %}Блог - Учи языки на борту Фрегата!{% endblock %}

{% block content %}
    <div class="blog-background-info-header">
        <div>
            <div class="container">
                <div class="blog-block-text-header">
                    <img src="{% static 'img/circle.png' %}" alt="circle" class="circle">
                    <p class="blog__info__header__title">Блог - сундук с сокровищами</p>
                    <div class="blog__info__two__block">
                        <p class="two__block__title">
                            потому что здесь мы храним все секретные знания.
                            Читай и прокачивай свои навыки.
                        </p>
                        <img src="{% static 'img/arrow.png' %}" alt="arrow" class="arrow">
                    </div>
                    <p class="text-price">Здесь вы найдёте:</p>
                    <ul style="margin-top: 30px;">
                        <li class="price-text-li">мотивационные статьи</li>
                        <li class="price-text-li">уникальные методы запоминания слов</li>
                        <li class="price-text-li">советы по изучению языков</li>
                    </ul>
                    <div class="img__bg__top">
                        <img src="{% static 'img/blog-bg-1.png' %}" alt="animation">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="line-section" style="margin-top: 30px;"></div>

    <main class="main-blog">
        <div>
            <div class="posts_div">
                {% for post in posts %}
                    <a href="#{{ post.url }}">
                        <div class="blog-card">
                            <img src="../media/{{ post.img }}" alt="">
                            <div>
                                <p class="blog-card-text">{{ post.title|truncatechars:25 }}</p>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
    </main>

{% endblock %}