{% extends "./base.html" %}
{% load static %}
{% load index %}

{% block title %}{{ movie.title }}{% endblock %}

{% block content %}
    <main class="cinema-container">
        <div class="episode">
            <div class="episode__left">
                <div class="episode-wrapper">
                    <div class="episode-wrapper__header">
                        <h1>{{ movie.title }}</h1>
                    </div>
                    <div class="episode-wrapper__content">
						<div class="episode-desc">
							<div class="episode-desc__desc">
								<p>
                                    <strong>Level</strong> — {{ movie.level.all.0.level }}<br>
                                    <strong>Accent</strong> — {{ movie.accent.all.0.accent }}<br>
                                    <strong>Topic</strong> — {{ movie.topic.all.0.topic }}
                                </p>
                                <p>
                                    Автор материала — <a href="{{ movie.author.all.0.url }}">{{ movie.author.all.0.name}}</a>
                                </p>
                                <p>
                                    Встречи киноклуба каждую неделю.<br>
                                    Пиши нам для записи.
                                </p>
                            </div>
                            <div class="episode-desc__cover">
                                <img src="../../media/{{ movie.img }}" alt="logo" class="episode-desc__img">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="episode-wrapper open-close-window">
                    <div class="cinema-block-arrow">
                        <p class="title-task">Vocabulary box</p>
                        <svg fill="#a7dd97" height="25px" width="25px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 330 330" xml:space="preserve" data-darkreader-inline-fill="" style="--darkreader-inline-fill:#3e6521;"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path id="XMLID_225_" d="M325.607,79.393c-5.857-5.857-15.355-5.858-21.213,0.001l-139.39,139.393L25.607,79.393 c-5.857-5.857-15.355-5.858-21.213,0.001c-5.858,5.858-5.858,15.355,0,21.213l150.004,150c2.813,2.813,6.628,4.393,10.606,4.393 s7.794-1.581,10.606-4.394l149.996-150C331.465,94.749,331.465,85.251,325.607,79.393z"></path> </g></svg>
                    </div>
                    <div class="opened-window">
                        <p class="text-explanation">Click on the word when you hear it in the video.</p>
                        {% for i in vocabulary %}
                            <div class="vocabulary-word-line">
                                <input type="checkbox" class="input-vocabulary" id="voc_{{ i.id }}">
                                <label class="label-vocabulary" for="voc_{{ i.id }}">{{ i.word }}<br></label> 
                            </div>
                        {% endfor %}
                    </div>
                </div>
                
                <div class="episode-wrapper open-close-window">
                    <div class="cinema-block-arrow">
                        <p class="title-task">Test</p>
                        <svg fill="#a7dd97" height="25px" width="25px" version="1.1" id="Layer_2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 330 330" xml:space="preserve" data-darkreader-inline-fill="" style="--darkreader-inline-fill:#3e6521;"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path id="XMLID_225_" d="M325.607,79.393c-5.857-5.857-15.355-5.858-21.213,0.001l-139.39,139.393L25.607,79.393 c-5.857-5.857-15.355-5.858-21.213,0.001c-5.858,5.858-5.858,15.355,0,21.213l150.004,150c2.813,2.813,6.628,4.393,10.606,4.393 s7.794-1.581,10.606-4.394l149.996-150C331.465,94.749,331.465,85.251,325.607,79.393z"></path> </g></svg>
                    </div>
                    <div class="opened-window">
                        {% if answers %}
                            <div style="height: 30px;"></div>
                            {% for i in test %}
                                {% with outer_counter=forloop.counter0 %}
                                    <p class="text-explanation">{{ i.id }}. {{ i.question }}</p>
                                    <div class="test-question-line">
                                        {% to_list i.first i.second i.third as list %}
                                        {% for x in list %}
                                            {% if forloop.counter == answers|index:outer_counter and answers|index:outer_counter == i.correct %}
                                                <div class="input-label-line">
                                                    <p class="qsm-text-correct-option">{{ x }}</p>
                                                </div>
                                            {% elif forloop.counter == answers|index:outer_counter and answers|index:outer_counter != i.correct %}
                                                <div class="input-label-line">
                                                    <p class="qsm-text-wrong-option">{{ x }}</p>
                                                </div>
                                            {% else %}
                                                <div class="input-label-line">
                                                    <p class="qsm-text-grey-option">{{ x }}</p>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                {% endwith %}
                            {% endfor %}
                            <form name="again" method="get">
                                <input type="submit" value="Пройти повторно" class="submit-again">
                            </form>
                            
                            
                        {% else %}
                            <form name="test-form" method="post">
                                {% csrf_token %}
                                {% for i in test %}
                                    <p class="text-explanation">{{ i.id }}. {{ i.question }}</p>
                                    <div class="test-question-line">
                                        <div class="input-label-line">
                                            <input type="radio" class="input-test" name="test-{{ i.id }}" id="test_{{ i.id }}_{{ i.first }}" value="1">
                                            <label class="label-test" for="test_{{ i.id }}_{{ i.first }}">{{ i.first }}<br></label> 
                                        </div>
                                        <div class="input-label-line">
                                            <input type="radio" class="input-test" name="test-{{ i.id }}" id="test_{{ i.id }}_{{ i.second }}" value="2">
                                            <label class="label-test" for="test_{{ i.id }}_{{ i.second }}">{{ i.second }}<br></label> 
                                        </div>
                                        <div class="input-label-line">
                                            <input type="radio" class="input-test" name="test-{{ i.id }}" id="test_{{ i.id }}_{{ i.third }}" value="3">
                                            <label class="label-test" for="test_{{ i.id }}_{{ i.third }}">{{ i.third }}<br></label> 
                                        </div>
                                    </div>
                                {% endfor %}
                                <div class="submit-test-div">           
                                    <input type="submit" class="" value="Отправить">
                                </div> 
                            </form>
                        {% endif %}
                    </div>
                </div>                

                <div class="episode-wrapper open-close-window">
                    <div class="cinema-block-arrow">
                        <p class="title-task">Right order</p>
                        <svg fill="#a7dd97" height="25px" width="25px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 330 330" xml:space="preserve" data-darkreader-inline-fill="" style="--darkreader-inline-fill:#3e6521;"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path id="XMLID_225_" d="M325.607,79.393c-5.857-5.857-15.355-5.858-21.213,0.001l-139.39,139.393L25.607,79.393 c-5.857-5.857-15.355-5.858-21.213,0.001c-5.858,5.858-5.858,15.355,0,21.213l150.004,150c2.813,2.813,6.628,4.393,10.606,4.393 s7.794-1.581,10.606-4.394l149.996-150C331.465,94.749,331.465,85.251,325.607,79.393z"></path> </g></svg>
                    </div>
                    <div class="opened-window">
                        <p class="text-explanation">Put the events in the right order:</p>
                        <div id="container-order">
                            {% for i in order %}
                                <div class="item" data-order="{{ i.priority }}">
                                    <p class="container-quest-order">{{ i.question }}</p>
                                    <div class="button-container-order">
                                        <button onclick="moveUp(this)" class="button-order">⇑</button>
                                        <button onclick="moveDown(this)" class="button-order">⇓</button>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <button onclick="checkOrder()" class="check-order-btn">Проверить порядок</button>
                    </div>
                </div>

                <div class="episode-wrapper open-close-window">
                    <div class="cinema-block-arrow">
                        <p class="title-task">Discussion board</p>
                        <svg fill="#a7dd97" height="25px" width="25px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 330 330" xml:space="preserve" data-darkreader-inline-fill="" style="--darkreader-inline-fill:#3e6521;"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path id="XMLID_225_" d="M325.607,79.393c-5.857-5.857-15.355-5.858-21.213,0.001l-139.39,139.393L25.607,79.393 c-5.857-5.857-15.355-5.858-21.213,0.001c-5.858,5.858-5.858,15.355,0,21.213l150.004,150c2.813,2.813,6.628,4.393,10.606,4.393 s7.794-1.581,10.606-4.394l149.996-150C331.465,94.749,331.465,85.251,325.607,79.393z"></path> </g></svg>
                    </div>
                    <div class="opened-window">
                        {% for i in discus %}
                            <div class="discus-question">{{ i.question }}</div>
                        {% endfor %}
                    </div>
                </div>
                
                <div class="episode-wrapper open-close-window">
                    <div class="cinema-block-arrow">
                        <p class="title-task">SubStory</p>
                        <svg fill="#a7dd97" height="25px" width="25px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 330 330" xml:space="preserve" data-darkreader-inline-fill="" style="--darkreader-inline-fill:#3e6521;"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path id="XMLID_225_" d="M325.607,79.393c-5.857-5.857-15.355-5.858-21.213,0.001l-139.39,139.393L25.607,79.393 c-5.857-5.857-15.355-5.858-21.213,0.001c-5.858,5.858-5.858,15.355,0,21.213l150.004,150c2.813,2.813,6.628,4.393,10.606,4.393 s7.794-1.581,10.606-4.394l149.996-150C331.465,94.749,331.465,85.251,325.607,79.393z"></path> </g></svg>
                    </div>
                    <div class="opened-window">
                        {% for i in story %}
                            <div class="container-substory">
                                <img src="../../media/{{ i.image }}" alt="img" class="img-substory">
                                <div class="substory-text-detail">
                                    
                                    <strong>Let us think about what was before:</strong>
                                    
                                    <p>{{ i.bef_one }}</p>
                                    
                                    <p>{{ i.bef_two }}</p>
                                    
                                    <p>{{ i.bef_three }}</p>
                                    
                                    <br>
                                    
                                    <strong>Now think about what will happen after:</strong>
                                    
                                    <p>{{ i.aft_one }}</p>
                                    
                                    <p>{{ i.aft_two }}</p>
                                    
                                    <p>{{ i.aft_three }}</p>
                                    

                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="episode__right">
                <div class="episode-player">
                    <video 
                        
                        id="my-video"
                        controls 
                        preload="auto"
                        class="episode-video"
                        data-setup="{}">

                        <source src="{% url 'stream' movie.id %}" type="video/mp4"/>
                        <source src="{% url 'stream' movie.id %}" type="video/webm"/>
                    </video>
                </div>

                
                <div class="episode-wrapper open-close-window">
                    <div class="cinema-block-arrow">
                        <p class="title-task">Script</p>
                        <svg fill="#a7dd97" height="25px" width="25px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 330 330" xml:space="preserve" data-darkreader-inline-fill="" style="--darkreader-inline-fill:#3e6521;"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path id="XMLID_225_" d="M325.607,79.393c-5.857-5.857-15.355-5.858-21.213,0.001l-139.39,139.393L25.607,79.393 c-5.857-5.857-15.355-5.858-21.213,0.001c-5.858,5.858-5.858,15.355,0,21.213l150.004,150c2.813,2.813,6.628,4.393,10.606,4.393 s7.794-1.581,10.606-4.394l149.996-150C331.465,94.749,331.465,85.251,325.607,79.393z"></path> </g></svg>
                    </div>
                    <div class="opened-window">
                        {{ movie.script|safe }}
                    </div>
                </div>
                

            </div>
        </div>
    </main>
    <div style="height: 342px;"></div>
    <script>
        document.querySelectorAll('.cinema-block-arrow').forEach(function(arrow) {
            arrow.addEventListener('click', function() {
                var wrapper = this.closest('.episode-wrapper');
                var window = wrapper.querySelector('.opened-window');
                var isHidden = window.style.display === 'none' || window.style.display === '';
        
                // Переключаем состояние текущего окна и стрелки
                if (isHidden) {
                    window.style.display = 'block';
                    this.classList.add('cinema-block-arrow-open');
                } else {
                    window.style.display = 'none';
                    this.classList.remove('cinema-block-arrow-open');
                }
            });
        });
                 
    </script>
    <script>
        // При загрузке страницы, установите состояние checkbox из sessionStorage
        window.onload = function() {
            var inputs = document.getElementsByTagName("input");
            for (var i = 0; i < inputs.length; i++) {
                if (inputs[i].id.startsWith("voc_") && inputs[i].type === "checkbox") {
                    inputs[i].checked = sessionStorage.getItem(inputs[i].id) === 'true';
                }
            }
        };

        // Когда состояние checkbox изменяется, сохраните его в sessionStorage
        document.oninput = function(e) {
            if (e.target.tagName.toLowerCase() === 'input' && e.target.type === "checkbox" && e.target.id.startsWith("voc_")) {
                sessionStorage.setItem(e.target.id, e.target.checked);
            }
        };
    </script>
    <script>
        function moveUp(button) {
            const item = button.parentElement.parentElement;
            const prevItem = item.previousElementSibling;
            if (prevItem) {
                item.classList.add('moving-up');
                prevItem.classList.add('moving-down');
                setTimeout(() => {
                    item.classList.remove('moving-up');
                    prevItem.classList.remove('moving-down');
                    item.parentNode.insertBefore(item, prevItem);
                }, 250);
            }
        }

        function moveDown(button) {
            const item = button.parentElement.parentElement;
            const nextItem = item.nextElementSibling;
            if (nextItem) {
                item.classList.add('moving-down');
                nextItem.classList.add('moving-up');
                setTimeout(() => {
                    item.classList.remove('moving-down');
                    nextItem.classList.remove('moving-up');
                    item.parentNode.insertBefore(nextItem, item);
                }, 250);
            }
        }

        function checkOrder() {
            const items = document.querySelectorAll('.item');
            let correctOrder = true;
            items.forEach((item, index) => {
                if (parseInt(item.getAttribute('data-order')) !== index + 1) {
                    correctOrder = false;
                }
            });
            alert(correctOrder ? 'Порядок правильный!' : 'Порядок неправильный.');
        }
    </script>
{% endblock %}