{% extends './base.html' %}
{% load static %}
{% block title %}Учи языки на борту Фрегата!{% endblock %}

{% block content %}

    <section class="main-section">
        <div class="text-main-section-div">
            <img class="circle" src="{% static 'img/circle.png' %}" alt="circle">
            <h1 class="h1-text-main-section">Учи языки<br>на борту Фрегата!</h1>
            <img class="line" src="{% static 'img/linehover.png' %}" alt="linehover">
            <p class="p-text-main-section">Забудь о языке жестов и онлайн-переводчиках. Скажи сам!</p>
            <div class="buttons-main-section">
                <a href="#win1"><button class="one-main-section-button">ЗАПИСАТЬСЯ</button></a>
                <a href="#about"><button class="two-main-section-button">Узнать больше</button></a>
            </div>
        </div>

        <div class="main-section-container-img">
            <img src="{% static 'img/bg1.png' %}" alt="person" class="main-girl-img">
        </div>
    </section> 

    <div class="line-section"></div>

    <!-- languages section -->
    <section class="two__block">
        <div class="container margin-arrow-block">
            <p class="title-languages">Выбирай язык по душе<br>и начинай свой путь изучения уже сегодня!</p>
            <img src="{% static 'img/arrow.png' %}" alt="arrow" class="arrow">
        </div>
        <div class="container block-languages">
            <a href="lang/#eng" class="card-link-languages">
                <div class="languages-card">
                        <img src="{% static 'img/1.png' %}" alt="" class="img-card-languages">
                        <p class="text-card-languages">АНГЛИЙСКИЙ</p>
                    <img src="{% static 'img/khover.png' %}" alt="khover" class="khover">
                </div>
            </a>
            <a href="lang/#franch" class="card-link-languages">
                <div class="languages-card">
                        <img src="{% static 'img/2.png' %}" alt="" class="img-card-languages">
                        <p class="text-card-languages">ФРАНЦУЗСКИЙ</p>
                    <img src="{% static 'img/khover.png' %}" alt="khover" class="khover">
                </div>
            </a>
            <a href="lang/#german" class="card-link-languages">
                <div class="languages-card">
                        <img src="{% static 'img/3.png' %}" alt="" class="img-card-languages">
                        <p class="text-card-languages">НЕМЕЦКИЙ</p>
                    <img src="{% static 'img/khover.png' %}" alt="khover" class="khover">
                </div>
            </a>
            <a href="lang/#esp" class="card-link-languages">
                <div class="languages-card">
                        <img src="{% static 'img/4.png' %}" alt="" class="img-card-languages">
                        <p class="text-card-languages">ИСПАНСКИЙ</p>
                    <img src="{% static 'img/khover.png' %}" alt="khover" class="khover">
                </div>
            </a>
            <a href="lang/#itl" class="card-link-languages">
                <div class="languages-card">
                        <img src="{% static 'img/5.png' %}" alt="" class="img-card-languages">
                        <p class="text-card-languages">ИТАЛЬЯНСКИЙ</p>
                    <img src="{% static 'img/khover.png' %}" alt="khover" class="khover">
                </div>
            </a>
            <a href="lang/#arab" class="card-link-languages">
                <div class="languages-card">
                        <img src="{% static 'img/6.png' %}" alt="" class="img-card-languages">
                        <p class="text-card-languages">АРАБСКИЙ</p>
                    <img src="{% static 'img/khover.png' %}" alt="khover" class="khover">
                </div>
            </a>
            <a href="lang/#chin" class="card-link-languages">
                <div class="languages-card">
                        <img src="{% static 'img/7.png' %}" alt="" class="img-card-languages">
                        <p class="text-card-languages">КИТАЙСКИЙ</p>
                    <img src="{% static 'img/khover.png' %}" alt="khover" class="khover">
                </div>
            </a>
            
            <div class="languages-card">
                    <img src="{% static 'img/8.png' %}" alt="" class="img-card-languages">
                    <p class="text-card-languages">ЯПОНСКИЙ</p>
                <img src="{% static 'img/khover.png' %}" alt="khover" class="khover">
            </div>
            
            
            <div class="languages-card">
                    <img src="{% static 'img/9.png' %}" alt="" class="img-card-languages">
                    <p class="text-card-languages">КОРЕЙСКИЙ</p>
                <img src="{% static 'img/khover.png' %}" alt="khover" class="khover">
            </div>
            
            <a href="lang/#rus" class="card-link-languages">
                <div class="languages-card">
                        <img src="{% static 'img/10.png' %}" alt="" class="img-card-languages">
                        <p class="text-card-languages">РУССКИЙ</p>
                    <img src="{% static 'img/khover.png' %}" alt="khover" class="khover">
                </div>
            </a>
        </div>
    </section>

    <div class="line-section" style="margin-top:70px;" id='price'></div>

    <section class="two__block"> 
        <div class="container margin-arrow-block">
            <p class="title-languages">Форматы обучения -<br>выбери свой!</p>
            <img src="{% static 'img/arrow.png' %}" alt="arrow" class="arrow">
        </div>

        <div class="price-info-block">
            <div class="container">
                <div class="price-full">
                    <img src="{% static 'img/bg2.png' %}" alt="img" class="bg-img">
                    <div class="price-text-block">
                        <img src="{% static 'img/circle.png' %}" alt="circle" class="circle">
                        <p class="price-title">ИНДИВИДУАЛЬНЫЕ<br>ЗАНЯТИЯ</p>

                        <p class="text-price">На занятиях вам гарантировано:</p>
                        <ul style="margin-top: 30px;">
                            <li class="price-text-li">полное внимание преподавателя</li>
                            <li class="price-text-li">максимум обратной связи</li>
                            <li class="price-text-li">конфиденциальность</li>
                            <li class="price-text-li">и много улыбок</li>
                        </ul>
                        <p class="text-price">Преподаватели школы используют авторскую методику «Круглого стола» и дополнительные материалы согласно пожеланиям студента.</p>
                        <p class="duration-price">Длительность: 50 минут</p>
                        <div class="price-and-button">
                            <p class="price-bottom-text">
                                900<br><span>руб / урок</span>
                            </p>
                            <a href="#win1"><button class="price-button">ЗАПИСАТЬСЯ</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="price-info-block">
            <div class="container">
                <div class="price-full">
                    <div class="price-text-block-two">
                        <img src="{% static 'img/circle.png' %}" alt="circle" class="circle">
                        <p class="price-title">ЗАНЯТИЯ<br>В ГРУППАХ</p>
                        <p class="text-price">Формат занятий гарантирует языковую практику и позволяет использовать язык для общения вне занятий.</p>
                        <p class="text-price">Группы формируются согласно возрастам и целям студентов. Занятия проводятся один или два раза в неделю. При пропуске занятий есть возможность его отработки в другой группе.</p>
                        <p class="duration-price">Длительность: 60 минут</p>

                        <div class="price-and-button">
                            <p class="price__ot">от</p>
                            <p class="price-bottom-text">
                                450<br><span>руб / урок</span>
                            </p>
                            <a href="#win1"><button class="price-button">ЗАПИСАТЬСЯ</button></a>
                        </div>
                    </div>
                    <img src="{% static 'img/bg3.png' %}" alt="img" class="bg-img">
                </div>
            </div>
        </div>

        <div class="price-info-block">
            <div class="container">
                <div class="price-full">
                    <img src="{% static 'img/bg4.png' %}" alt="img" class="bg-img">
                    <div class="price-text-block">
                        <img src="{% static 'img/circle.png' %}" alt="circle" class="circle">
                        <p class="price-title">САМОСТОЯТЕЛЬНЫЙ<br>КУРС</p>

                        <p class="text-price">Курс для любителей самостоятельности и отсутствия дедлайнов.</p>
                        <p class="text-price">Месячный абонемент включает:</p>
                        <ul style="margin-top: 30px; padding-bottom: 30px;">
                            <li class="price-text-li">самоучитель (еженедельные инструкции)</li>
                            <li class="price-text-li">проверку домашних заданий в формате аудио - и текстовых сообщений</li>
                            <li class="price-text-li">индивидуальное занятие с преподавателем</li>
                        </ul>
    
                        <div class="price-and-button">
                            <p class="price__ot">от</p>
                            <p class="price-bottom-text">
                                3000<br><span>руб / месяц</span>
                            </p>
                            <a href="#win1"><button class="price-button">ЗАПИСАТЬСЯ</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="price-info-block">
            <div class="container">
                <div class="price-full">
                    <div class="price-text-block-two">
                        <img src="{% static 'img/circle.png' %}" alt="circle" class="circle">
                        <p class="price-title">ПОДПИСКА<br>5 МИНУТ</p>

                        <p class="text-price">Ежедневные мини-уроки в твоих сообщениях. Это как раз тот вариант, если у тебя совершенно нет времени, а язык ой-как нужен.</p>
                        <p class="text-price">Подписка 5 минут включает:</p>

                        <ul style="margin-top: 30px; padding-bottom: 30px;">
                            <li class="price-text-li">мини-уроки в мессенджерах</li>
                            <li class="price-text-li">домашние задания</li>
                            <li class="price-text-li">дедлайны</li>
                            <li class="price-text-li">обратную связь каждую неделю</li>
                            <li class="price-text-li">чек-лист в конце месяца</li>
                        </ul>
                        
                        <div class="price-and-button">
                            <p class="price-bottom-text">
                                1500<br><span>руб / месяц</span>
                            </p>
                            <a href="#win1"><button class="price-button">ЗАПИСАТЬСЯ</button></a>
                        </div>
                    </div>
                    <img src="{% static 'img/bg5.png' %}" alt="img" class="bg-img">
                </div>
            </div>
        </div>

        <div class="price-info-block">
            <div class="container">
                <div class="price-full">
                    <img src="{% static 'img/bg6.png' %}" alt="img" class="bg-img">
                    <div class="price-text-block">
                        <img src="{% static 'img/circle.png' %}" alt="circle" class="circle">
                        <p class="price-title">РАЗГОВОРНЫЕ<br>КЛУБЫ</p>

                        <p class="text-price">Дополние к вашей программе и эффективная практика.</p>
                        <p class="text-price">У нас открыты:<br>киноклуб<br>книжный клуб</p>
                        <p class="text-price" style="padding-bottom: 30px;">Это еженедельная разговорная практика в мини-группе, общий чат для обсуждений, дополнительные еженедельные задания, а также новые друзья.</p>
                        
                        <div class="price-and-button">
                            <p class="price__ot">от</p>
                            <p class="price-bottom-text">
                                450<br><span>руб / неделя</span>
                            </p>
                            <a href="#win1"><button class="price-button">ЗАПИСАТЬСЯ</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="line-section" style="margin-top:30px;" id="about"></div>

    {% comment %} <section class="two__block">
        <div class="container margin-arrow-block">
            <p class="title-languages">О Фрегате</p>
            <img src="{% static 'img/arrow.png' %}" alt="arrow" class="arrow">
        </div>
        <div class="container">
            <div class="price-full">
                <img src="{% static 'img/bg7.png' %}" alt="img" class="bg7-img">
                <div class="price-text-block-bottom">
                    <p class="price-title-bottom">Языковая школа «Фрегат»<br>- это яркое пространство<br>для изучения языков<br>и обмена опытом. <br></p>

                    <p class="text-price-bottom">В мире живут миллионы людей, которые горят тем же, что и наши студенты, но всех их разделяет языковой и культурный барьер. Наша миссия:  объединить родственные души и дать понять, что изучать иностранные языки - это весело и увлекательно. </p>
                    <p class="text-price-bottom">Основатель школы Елизавета Муждабаева - эксперт в сфере преподавания иностранных языков, автор и дизайнерметодических пособий и курсов.</p>
                </div>
            </div>
        </div>
    </section> {% endcomment %}
{% endblock %}
