{% extends './base.html' %}
{% load static %}
{% block title %}Языки - Учи языки на борту Фрегата!{% endblock %}

{% block content %}

    <section class="english-section">
        <div class="container-footer">
            <img src="{% static 'img/lang-bg-1.png' %}" alt="img" class="lang-bg-img">
            <div class="text-block-lang">
                <img src="{% static "img/circle.png" %}" alt="circle" class="circle">
                <p class="title-lang">Английский</p>
                
                <div class="container-title-arrow" style="width: 100%;">
                    <p class="title-lang-arrow">Разнообразные направления:</p>
                    <img src="{% static 'img/arrow.png' %}" alt="arrow" class="arrow">
                </div>

                <ul style="margin-top: 30px;">
                    <li class="lang-text-li">общий курс</li>
                    <li class="lang-text-li">разговорный курс</li>
                    <li class="lang-text-li">подготовка к иммиграции</li>
                    <li class="lang-text-li">подготовка к собеседованиям</li>
                    <li class="lang-text-li">подготовка к ЕГЭ/ОГЭ</li>
                    <li class="lang-text-li">подготовка к IELTS и его аналогам</li>
                    <li class="lang-text-li">английский для моряков</li>
                    <li class="lang-text-li">корпоративное обучение</li>
                </ul>

                <div class="button-lang">
                    <a href="#win1"><button class="price-button">ЗАПИСАТЬСЯ</button></a>
                </div>
            </div>
        </div>
    </section>

    <div class="line-section" style="margin-top:30px;"></div>

    <main>
        <!-- COURSE 1 -->
        <div class="two__block">
            <div class="container margin-arrow-block">
                <p class="title-languages">Представляем наши программы</p>
                <img src="{% static 'img/arrow.png' %}" alt="arrow" class="arrow">
            </div>
            <div class="container">
                <div class="lang-price-full-two">
                    <div class="lang__price__text__block">
                        <img class="circle" src="{% static "img/circle.png" %}" alt="circle">
                        <p class="price-title">COURSE 1</p>
                        
                        <p class="text-price">
                            Авторский курс от <br>
                            - экперта-методиста <br>
                            - профессионального дизайнера</p>

                        <p class="text-price">
                            Курс включает 16 основных грамматических тем и 16 тем для разговорных сессий. 
                            Уроки проводятся в удобном для усвоения темпе.
                        </p> 
                        <p class="text-price">В программу входят:</p> 

                        <ul style="margin-top: 30px;">
                            <li class="price-text-li">простые объяснения всей грамматики,</li>
                            <li class="price-text-li">упражнения для закрепления, основанные на использовании критического мышления</li>
                            <li class="price-text-li">полные разговорные сессии, подкреплённые видео, аудио и лексикой</li>
                            <li class="price-text-li">основы американского и британского сленга</li>
                            <li class="price-text-li">библиотека видео материала</li>
                            <li class="price-text-li">разборы фильмов</li>
                            <li class="price-text-li">база вокабуляра</li>
                            <li class="price-text-li">фразовые глаголы и идиомы</li>
                            <li class="price-text-li">контрольная работа на финише</li>
                        </ul> 
                    </div>
                    <div>
                        <img src="{% static 'img/lang-bg-2.png' %}" alt="img" class="bg-img">
                        <div class="button-lang">
                            <a href="#win1"><button class="price-button">ЗАПИСАТЬСЯ</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="line-section" style="margin-top:30px;"></div>

        <!-- section "good vibes" -->
        <div class="two__block" style="margin-top: 36px;">
            <div class="container">
                <div class="lang-price-full">
                    <div>
                        <img src="{% static 'img/lang-bg-3.png' %}" alt="" class="bg-img">
                        <div class="button-lang2">
                            <a href="#win1"><button class="price-button">ЗАПИСАТЬСЯ</button></a>
                        </div>
                    </div>
                    <div class="lang__price__text__block__two">
                        <img class="circle" src="{% static "img/circle.png" %}" alt="circle">
                        <p class="price-title">GOOD VIBES</p>
                        
                        <p class="text-price2">
                            <strong>
                            made for girls who care
                            <br>english course book that makes you happy
                            </strong>
                        </p>

                        <p class="text-price">
                        Гайд к осознанности, гармонии в себе
                        и владению английским языком.
                        </p>

                        <p class="text-price">
                        Материал здесь преподносится 
                        по методу discovery learning, 
                        который позволяет изучать язык
                        непосредственно через практику. 
                        Темы курса выстроенны в том порядке,
                        который соотсветсвует
                        психологической проработке 
                        состояния и мироощущения девушек. 
                        Изучение лексики, грамматических 
                        конструкций, тренировка понимания на слух, 
                        ну и конечно же, коммуникативных навыков,
                        осуществляется через любимые темы: 
                        психологию, саморазвитие, 
                        осознанность и духовность.
                        </p>
                        <p class="text-price2">
                        «Ты наведёшь порядок в своей голове, 
                        в своём доме, в делах и знаниях. 
                        И я обещаю тебе, после прохождения курса,<br>
                        с учителем или же самостоятельно, ты будешь довольна собой, своей жизнью, 
                        результатами и гарантированно
                        станешь счастливее». <br>
                        <span>Автор курса, Муждабаева Елизавета</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="line-section" style="margin-top:30px;"></div>

        <!-- COURSE 2 -->
        <div class="two__block">
            <div class="container">
                <div class="lang-price-full-two">
                    <div class="lang__price__text__block">
                        <img class="circle" src="{% static "img/circle.png" %}" alt="circle">
                        <p class="price-title">COURSE 2</p>
                        
                        <p class="text-price">
                            Авторский курс от <br>
                            - экперта-методиста <br>
                            - профессионального дизайнера</p>

                        <p class="text-price">Продолжение программы Course 1.</p> 
                        <p class="text-price">Материал программы предназначен для уровней В1-B2. Курс состоит из 30 уроков, составленных с целью ознакомить студента с мультикультурной средой, англоговорящими странами и билингвализмом.</p>
                        <p class="text-price">В программу входят:</p>

                        <ul style="margin-top: 30px;">
                            <li class="price-text-li">простые объяснения углублённой грамматики</li>
                            <li class="price-text-li">упражнения для закрепления, основанные на использовании критического мышления</li>
                            <li class="price-text-li">полные разговорные сессии, подкреплённые видео, аудио и лексикой</li>
                            <li class="price-text-li">американский и британский сленг</li>
                            <li class="price-text-li">библиотека видео материала</li>
                            <li class="price-text-li">разборы фильмов</li>
                            <li class="price-text-li">интенсивное расширение вокабуляра</li>
                            <li class="price-text-li">фразовые глаголы и идиомы</li>
                        </ul> 
                    </div>
                    <div>
                        <img src="{% static 'img/lang-bg-4.png' %}" alt="img" class="bg-img">
                        <div class="button-lang">
                            <a href="#win1"><button class="price-button">ЗАПИСАТЬСЯ</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="line-section" style="margin-top:30px;"></div>

        <!-- НЕМЕЦКИЙ -->
        <div class="two__block">
            <div class="container-footer">
                <img src="{% static 'img/lang-bg-5.png' %}" alt="img" class="lang-bg-img">
                <div class="text-block-lang">
                    <img src="{% static "img/circle.png" %}" alt="circle" class="circle">
                    <p class="title-lang">Немецкий</p>
                    
                    <div class="container-title-arrow" style="width: 100%;">
                        <p class="title-lang-arrow">Разнообразные направления:</p>
                        <img src="{% static 'img/arrow.png' %}" alt="arrow" class="arrow">
                    </div>
    
                    <ul style="margin-top: 30px;">
                        <li class="lang-text-li">общий курс</li>
                        <li class="lang-text-li">разговорный курс</li>
                        <li class="lang-text-li">подготовка к иммиграции</li>
                        <li class="lang-text-li">подготовка к собеседованиям</li>
                        <li class="lang-text-li">подготовка к поступлению в ВУЗ</li>
                        <li class="lang-text-li">подготовка к DSD, Test DaF,</li>
                        <li class="lang-text-li">Goethe Zertifikat</li>
                        <li class="lang-text-li">корпоративное обучение</li>
                    </ul>
    
                    <div class="button-lang">
                        <a href="#win1"><button class="price-button">ЗАПИСАТЬСЯ</button></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="line-section" style="margin-top:30px;"></div>

        <!-- ФРАНЦУЗСКИЙ -->
        <div class="two__block">
            <div class="container-footer">
                <img src="{% static 'img/lang-bg-6.png' %}" alt="img" class="lang-bg-img">
                <div class="text-block-lang">
                    <img src="{% static "img/circle.png" %}" alt="circle" class="circle">
                    <p class="title-lang">Французский</p>
                    
                    <div class="container-title-arrow" style="width: 100%;">
                        <p class="title-lang-arrow">Разнообразные направления:</p>
                        <img src="{% static 'img/arrow.png' %}" alt="arrow" class="arrow">
                    </div>
    
                    <ul style="margin-top: 30px;">
                        <li class="lang-text-li">общий курс</li>
                        <li class="lang-text-li">разговорный курс</li>
                        <li class="lang-text-li">подготовка к иммиграции</li>
                        <li class="lang-text-li">подготовка к собеседованиям</li>
                        <li class="lang-text-li">подготовка к поступлению в ВУЗ</li>
                        <li class="lang-text-li">подготовка к DELF и DALF</li>
                        <li class="lang-text-li">корпоративное обучение</li>
                        <li class="lang-text-li">постановка произношения</li>
                    </ul>
    
                    <div class="button-lang">
                        <a href="#win1"><button class="price-button">ЗАПИСАТЬСЯ</button></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="line-section" style="margin-top:30px;"></div>

        <!-- ИСПАНСКИЙ -->
        <div class="two__block">
            <div class="container-footer">
                <img src="{% static 'img/lang-bg-7.png' %}" alt="img" class="lang-bg-img">
                <div class="text-block-lang">
                    <img src="{% static "img/circle.png" %}" alt="circle" class="circle">
                    <p class="title-lang">Испанский</p>
                    
                    <div class="container-title-arrow" style="width: 100%;">
                        <p class="title-lang-arrow">Разнообразные направления:</p>
                        <img src="{% static 'img/arrow.png' %}" alt="arrow" class="arrow">
                    </div>
    
                    <ul style="margin-top: 30px;">
                        <li class="lang-text-li">общий курс</li>
                        <li class="lang-text-li">разговорный курс</li>
                        <li class="lang-text-li">подготовка к иммиграции</li>
                        <li class="lang-text-li">подготовка к собеседованиям</li>                
                        <li class="lang-text-li">подготовка к DELE и его аналогам</li>
                        <li class="lang-text-li">корпоративное обучение</li>
                    </ul>
    
                    <div class="button-lang">
                        <a href="#win1"><button class="price-button">ЗАПИСАТЬСЯ</button></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="line-section" style="margin-top:30px;"></div>

        <!-- ИТАЛЬЯНСКИЙ -->
        <div class="two__block">
            <div class="container-footer">
                <img src="{% static 'img/lang-bg-11.png' %}" alt="img" class="lang-bg-img">
                <div class="text-block-lang">
                    <img src="{% static "img/circle.png" %}" alt="circle" class="circle">
                    <p class="title-lang">Итальянский</p>
                    
                    <div class="container-title-arrow" style="width: 100%;">
                        <p class="title-lang-arrow">Разнообразные направления:</p>
                        <img src="{% static 'img/arrow.png' %}" alt="arrow" class="arrow">
                    </div>
    
                    <ul style="margin-top: 30px;">
                        <li class="lang-text-li">общий курс</li>
                        <li class="lang-text-li">разговорный курс</li>
                        <li class="lang-text-li">подготовка к иммиграции</li>
                        <li class="lang-text-li">подготовка к собеседованиям</li>  
                        <li class="lang-text-li">подготовка к поступлению в ВУЗ</li>              
                        <li class="lang-text-li">подготовка к CILS и CELI</li>
                        <li class="lang-text-li">корпоративное обучение</li>
                    </ul>
    
                    <div class="button-lang">
                        <a href="#win1"><button class="price-button">ЗАПИСАТЬСЯ</button></a>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="line-section" style="margin-top:30px;"></div>

        <!-- АРАБСКИЙ -->
        <div class="two__block">
            <div class="container-footer">
                <img src="{% static 'img/lang-bg-8.png' %}" alt="img" class="lang-bg-img">
                <div class="text-block-lang">
                    <img src="{% static "img/circle.png" %}" alt="circle" class="circle">
                    <p class="title-lang">Арабский</p>
                    
                    <div class="container-title-arrow" style="width: 100%;">
                        <p class="title-lang-arrow">Разнообразные направления:</p>
                        <img src="{% static 'img/arrow.png' %}" alt="arrow" class="arrow">
                    </div>
    
                    <ul style="margin-top: 30px;">
                        <li class="lang-text-li">курс стандартного современного арабского — фусха</li>
                        <li class="lang-text-li">курс марокканского диалекта — дарижа с носителем</li>
                        <li class="lang-text-li">обучение чтению и письму с нуля</li>
                        <li class="lang-text-li">подготовка к иммиграции</li>  
                        <li class="lang-text-li">практика с носителями</li>              
                        <li class="lang-text-li"><a style="color: #000;" href="https://vk.com/frigateschool?w=product-196141042_5376916%2Fquery"> 
                            языковые каникулы в Марокко</a>
                        </li>
                    </ul>
    
                    <div class="button-lang">
                        <a href="#win1"><button class="price-button">ЗАПИСАТЬСЯ</button></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="line-section" style="margin-top:30px;"></div>

        <!-- АРАБСКИЙ С НУЛЯ -->
        <div class="two__block">
            <div class="container">
                <div class="lang-price-full-two">
                    <div class="lang__price__text__block">
                        <img class="circle" src="{% static "img/circle.png" %}" alt="circle">
                        <p class="price-title">АРАБСКИЙ С НУЛЯ</p>
                        
                        <p class="text-price">
                            Волшебный курс для тех, кто никогда не изучал арабский язык. Самые понятные объяснения с <br> самого начала
                        </p>

                        <p class="text-price">На занятиях ты:</p>

                        <ul>
                            <li class="price-text-li">очень быстро освоишь алфавит;</li>
                            <li class="price-text-li">научишься читать и писать;</li>
                            <li class="price-text-li">станешь понимать арабскую речь на слух;</li>
                            <li class="price-text-li">посмотришь, и главное, поймёшь свои первые видео;</li>
                            <li class="price-text-li">и окажешься в той самой арабской сказке.</li>
                        </ul> 

                        <p class="text-price">Пособие красочно оформлено профессиональным дизайнером. <br>
                            Вдохновение обеспечено.</p>
                    </div>
                    <div>
                        <img src="{% static 'img/книга-арабский.png' %}" alt="img" class="bg-img">
                        <div class="button-lang">
                            <a href="#win1"><button class="price-button">ЗАПИСАТЬСЯ</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="line-section" style="margin-top:30px;"></div>

        <!-- РУССКИЙ -->
        <div class="two__block">
            <div class="container-footer">
                <img src="{% static 'img/lang-bg-9.png' %}" alt="img" class="lang-bg-img">
                <div class="text-block-lang">
                    <img src="{% static "img/circle.png" %}" alt="circle" class="circle">
                    <p class="title-lang">Русский</p>
                    <p class="icr">как иностранный</p>
                    <div class="container-title-arrow" style="width: 100%;">
                        <p class="title-lang-arrow">Разнообразные направления:</p>
                        <img src="{% static 'img/arrow.png' %}" alt="arrow" class="arrow">
                    </div>
    
                    <ul style="margin-top: 30px;">
                        <li class="lang-text-li">общий курс</li>
                        <li class="lang-text-li">разговорный курс</li>
                        <li class="lang-text-li">подготовка к TORFL</li>
                        <li class="lang-text-li">обучение чтению и письму с нуля</li>  
                        <li class="lang-text-li">подготовка к иммиграции</li>              
                        <li class="lang-text-li">подготовка к поступлению в ВУЗ</li>
                        <li class="lang-text-li">практика с носителями</li>
                    </ul>
    
                    <div class="button-lang">
                        <a href="#win1"><button class="price-button">ЗАПИСАТЬСЯ</button></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="line-section" style="margin-top:30px;"></div>

        <!-- КИТАЙСКИЙ -->
        <div class="two__block">
            <div class="container-footer">
                <img src="{% static 'img/lang-bg-10.png' %}" alt="img" class="lang-bg-img">
                <div class="text-block-lang">
                    <img src="{% static "img/circle.png" %}" alt="circle" class="circle">
                    <p class="title-lang">Китайский</p>
                    <div class="container-title-arrow" style="width: 100%;">
                        <p class="title-lang-arrow">Разнообразные направления:</p>
                        <img src="{% static 'img/arrow.png' %}" alt="arrow" class="arrow">
                    </div>
    
                    <ul style="margin-top: 30px;">
                        <li class="lang-text-li">общий курс</li>
                        <li class="lang-text-li">разговорный курс</li>
                        <li class="lang-text-li">обучение чтению и письму с нуля</li>
                        <li class="lang-text-li">подготовка к HSK</li>  
                        <li class="lang-text-li">подготовка к поступлению в ВУЗ</li>              
                        <li class="lang-text-li">подготовка к иммиграции</li>
                        <li class="lang-text-li">подготовка к собеседованиям</li>
                    </ul>
    
                    <div class="button-lang">
                        <a href="#win1"><button class="price-button">ЗАПИСАТЬСЯ</button></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="line-section" style="margin-top:30px;"></div>
    </main>
{% endblock %}